.container {
	flex-flow: row wrap;
}
.item [type=radio] + div{
  cursor: pointer;
}
.item [type=radio]:checked + div {
  background:url(../icon/attack_on.png);
}
.spirit_attack{
  background:url(../icon/attack.png);
  height:64px;
  width:64px;
}
